.contact-section {  
    background-color: var(--third-color);
    padding: 50px 20px;  
    margin: 20px;
    border-radius: 10px;
    text-align: center;  
}  

.contact-section h2 {  
    color: var(--main-color);
    margin-bottom: 20px;  
    font-size: 2.5em;  
}  

.content {
    display: flex;
    justify-content: space-between;
}

.content>div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* align-items: center; */
}

.content>div div {
    width: 300px;
    text-align: justify;
    position: relative;
}

.content>div div::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #33ace3;
    top: -30px;
    right: 25px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.content img {
    width: 50px;
    border-radius: 50%;
    order: -1;
    margin: 0 0 0 auto;
} 

.contact-section form {  
    display: flex;  
    flex-direction: column;
    align-items: flex-start;  
    width: 45%;
}  

.contact-section input,  
.contact-section textarea {  
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    font-size: 1em;  
}  

.contact-section button {  
    background-color: var(--main-color);
    color: white;  
    border: none;  
    padding: 10px 20px;  
    border-radius: 5px;
    cursor: pointer;  
    font-size: 1em;  
}  

.contact-section button:hover {  
    background-color: var(--second-color);
}