.contact-section {  
    background-color: #ffffff; /* White background for clarity */  
    padding: 50px 20px;  
    text-align: center;  
}  

.contact-section h2 {  
    color: #007bff; /* Primary color for consistency */  
    margin-bottom: 20px;  
    font-size: 2.5em;  
}  

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-section form {  
    display: flex;  
    flex-direction: column; /* Stack inputs in a column */  
    align-items: flex-start;  
    width: 45%;
}  

.content img {
    width: 45%;
    max-width: 300px;
    border-radius: 6px;
    order: -1;
} 

@media (max-width: 767px){
    .content img {
        display: none;
    }

    .contact-section form {
        flex: 1;
        align-items: center;
    }
}

.contact-section input,  
.contact-section textarea {  
    width: 100%;
    padding: 10px; /* Padding for comfort */  
    margin: 10px 0; /* Spacing between fields */  
    border: 1px solid #ccc; /* Light border */  
    border-radius: 5px; /* Rounded corners */  
    font-size: 1em;  
}  

.contact-section button {  
    background-color: #007bff; /* Primary button color */  
    color: white;  
    border: none;  
    padding: 10px 20px;  
    border-radius: 5px; /* Rounded corners */  
    cursor: pointer;  
    font-size: 1em;  
}  

.contact-section button:hover {  
    background-color: #0056b3; /* Darken button on hover */  
}