.main {
    padding: 20px;
    margin: 20px;
    background-color: var(--third-color); 
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 2.5em;
}

.upf {
    display: flex;
    gap: 40px;
}

.upf .text {
    max-width: 400px;
    text-align: justify;
}

.upf div:nth-child(2) {
    flex: 1;
}
